{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/profile.css' %}">
{% endblock %}

{% block content %}
    
    <div class="main-content">
        <section class="nav-bar">
            <a href="#main-content">Dashboard</a>
            <a href="#profile-detail">Profile</a>
            <a href="#results">Results</a>

            <a href="{% url 'accounts:account-logout' %}">Logout</a>
        </section>
        <section class="dashboard">
            <h2>Hi, {{ user.first_name }}</h2>

            Dashboard section
        </section>
    </div>

{% endblock %}